<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Page description" name="description">
    <meta name="google" content="notranslate" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>ТАРО</title>
</head>
<body>
<table  class="rwd-table">
    <tr>
        <td width="10%" class="inner-table">
            <!-- Navigation table with images -->
            <!--table class="left-table"-->
            <table class="rwd-table">
                {% for group in cards: %}
                    <tr>
                        <th class="left-th">
                            {{ group['name'] }}
                        </th>
                    </tr>
                    {% for card in group['cards'] %}
                        <tr>
                            <td class="menu-item">
                                <a href="right.html?show={{ card['title'] }}&group={{ card['group'] }}" target='right'>
                                    <div>
                                        {{ card['title'] }}
                                        <!--img src="static/{{ card['image'] }}" /-->
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
</body>
</html>

